@import '/src/theme.css';

.scroll-list {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;

    .scroll-card,
    .square-image-container {
        flex: 0 0 auto;
    }
}

.card-img-container {
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 8px 8px 0 0;
}

.card-img-horizontal,
.card-img-vertical {
    object-fit: cover;
}

.card-img-vertical {
    width: 100%;
    height: auto;
}

.card-img-horizontal {
    width: auto;
    height: 100%;
}

.card-img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.read-more-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: fit-content;
    border: 1px solid var(--clr-surface-a30);
    border-radius: 8px;
    padding: 0.5rem 1rem;
    background-color: var(--clr-surface-a10);
    color: var(--clr-light-a0);
    text-decoration: none;
}

.read-more-btn:hover {
    background-color: var(--clr-surface-a20);
    color: var(--clr-light-a0);
}

.icon {
    color: var(--clr-primary-a30);
}

/* MODAL STYLING */

.work-modal {
}

.modal-title {
    font-family: var(--heading-font);
}

.modal-body {
    color: #000;
}

.modal-body,
.modal-footer {
    font-family: var(--body-font);
}

.badges-container {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
    margin-bottom: 16px;
}

/* .added-details {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    max-height: 300px;
} */

.square-image-container {
    display: flex;
    justify-content: center;
    min-height: 0;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    border: 1px solid #dee2e6;
}

.square-image-container > img {
    display: inline;
    height: 100%;
    width: auto;
    object-fit: cover;
}

.screenshot-caption {
    background-color: var(--clr-surface-a10);
    color: #fff;
    padding: 6px 10px;
    position: absolute;
    bottom: 0px;
    box-shadow: 2px, #000;
    font-weight: 300;
}

.project-links > button,
.project-links > button:hover {
    background-color: transparent;
    border: none;
    padding: 0;
    margin-right: 16px;
}
