.navbar {
    opacity: 95%;
    color: var(--clr-primary-a50);
}

.navbar-menu {
    width: 100%;
    justify-content: center;
}

@media (min-width: 800px) {
    .navbar-menu {
        gap: 16px;
    }
}
