@import './theme.css';

* {
    box-sizing: border-box;
}

body {
    background-color: var(--clr-surface-a0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color: #fff;
}

a {
    text-decoration: none;
    color: var(--clr-primary-a30);
}

a:hover {
    color: var(--clr-primary-a50);
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    height: 80px;
    background-color: 'transparent';
    color: var(--clr-primary-a50);
}

@media (max-width: 750px) {
    .navbar {
        justify-content: space-around;
        font-size: 21px;
    }
}

#title-container,
.page-hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title-container {
    flex-direction: column;
    height: 70vh;
}

.page-hero-container {
    height: 20vh;
}

@media (max-width: 750px) {
    .page-hero-container > h2 {
        font-size: 55px;
    }
}

.home-title,
.subtitle {
    width: 550px;
}

.home-title {
    font-weight: 400;
    font-size: 124px;
    letter-spacing: 0.2rem;
}

.subtitle {
    font-family: DM Sans;
    font-weight: 300;
    font-size: 3rem;
    color: var(--clr-primary-a50);
}

@media (max-width: 750px) {
    .home-title,
    .subtitle {
        width: 90%;
    }

    .home-title {
        font-size: 90px;
        line-height: 85%;
    }

    .subtitle {
        font-size: 30px;
    }
}

.section-title {
    text-align: center;
    margin: 4rem 0;
}

#work-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    gap: 16px;
}

/* BOOTSTRAP CARD ELEMENTS */
.card {
    background-color: var(--clr-surface-a10);
    color: var(--clr-light-a0);
    border-radius: 8px;
    margin: 1rem;
    padding: 0; /* Offset row class padding */
}

.card-img-container {
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 8px 8px 0 0;
}

.card-img-horizontal,
.card-img-vertical {
    object-fit: cover;
}

.card-img-vertical {
    width: 100%;
    height: auto;
}

.card-img-horizontal {
    width: auto;
    height: 100%;
}

.card-img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    border: none;
    font-family: Lora, serif;
    font-weight: 500;
    color: var(--clr-light-a0);
}

.card-title > a {
    display: flex;
    align-items: center;
}

.card-text {
    font-weight: 200;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 8px 16px 16px;
    border: none;
}

/* MODAL */

.project-links {
    display: flex;
    gap: 8px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: fit-content;
    background-color: var(--clr-surface-a10);
    color: var(--clr-light-a0);
    border: 1px solid var(--clr-surface-a30);
    border-radius: 8px;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.btn:hover {
    background-color: var(--clr-surface-a20);
    color: var(--clr-light-a0);
    border: 1px solid var(--clr-surface-a30);
}

.icon {
    color: var(--clr-primary-a30);
}

footer {
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 1rem;
    background-color: var(--clr-surface-a10);
    color: var(--clr-light-a0);
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 8px;
}
